{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gitapp/style.css' %}">
</head>
<body>
    <header>
        <ul class="header_list"><a href="#"></a>
            <li class="header_item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="header_item"><a href="#">Контакты</a></li>
            <li class="header_item"><a href="#">О нас</a></li>
            <li class="header_item"><a href="{% url 'form' %}">предложить новость</a></li>
        </ul>
    </header>

    <section>
        {% block content %}
        {% endblock %}
    <section>
</body>
</html>