{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gitapp/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <ul class="header_list"><a href="#"></a>
            <!-- <li class="header_item"><a class="hedaer_logo" href="{% url 'index' %}"><img src="../img/logo.png" alt=""></a></li> -->
            <li class="header_item"><a class="hedaer_link" href="{% url 'index' %}">Главная</a></li>
            <li class="header_item"><a class="hedaer_link" href="#">КОНТАКТЫ</a></li>
            <li class="header_item"><a class="hedaer_link" href="#">БОЛЬШЕ О НАС</a></li>
            <li class="header_item"><a class="hedaer_link" href="{% url 'form' %}">ПРЕДЛОЖИТЬ НОВОСТЬ</a></li>
        </ul>
    </header>

    <section>
        {% block content %}
        {% endblock %}
    <section>
</body>

</html>